[Desktop Entry]
Name=Autism Planner
Exec=webapp-container --app-id="autismplanner.nicktelindert" $@ www/index.html
Icon=assets/logo.svg
Terminal=false
Type=Application
X-Ubuntu-Touch=true
